@font-face {
 font-family: "Youth Power";
 src: url("youth_power/Youth Power.ttf") format("TrueType");
        
}

body
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.back
{
margin: 0;
padding: 0;
background-color: red;
background-image: linear-gradient(red, orange);
background: red;
background: linear-gradient(red, orange);
height: 935px; width: 100px;
display: flex;
flex-direction: row;
font-family: "Youth Power";
color: white;
}

h1
{

	display: flex;
	flex-direction:row;
	align-items: center;
	font-size: 90px;
	margin-left: 80px;
	width: 100px;
	height: 50px;
	position: relative;
	animation-name: anim;
	animation-duration: 7s;
	animation-iteration-count:1;
}

table
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 180px;
}

.jour
{
	display: flex;
	flex-direction: row;
	border: 5px solid #951BA7;
	border-radius: 10%;
	width: 1200px;
	height: 50px;
	font-size: 30px;
}
.jour2
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1200px; height: 50px;
	border: 1px solid darkblue;
	font-size: 30px;
}

.crh
{
	display: flex;
	flex-direction: row;
	border: 1px solid darkblue;
	width: 1200px; height: 50px;
	border-radius: 5px 5px 5px;
	font-size: 30px;
}
.crh2
{
	width: 190px;
	border: 1px solid red;
	font-size: 20px;
	height: 50px;


}

.crhv
{
	width: 180px;
	border: 2px solid yellow;
	font-size: 20px;
	height: 50px;
}

.crh3
{
	width: 180px;
	border: 1px solid darkblue;
	font-size: 20px;
	height: 50px;

}

aside
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 2px solid darkblue;
	border-radius: 5px 5px 5px;
	height: 500px;
	margin-top: 280px;
	margin-right: -10%;
	box-shadow: 5px 5px 5px #F1D33A;
	font-size: 25px;
}

@keyframes anim

{
0%{color: #ffca4b; left:10px; top:-100px;}
25%{color: #ffca4b; left:10px; top:-50px;}
50%{color: violet; left:10px; top:0px;}
75%{color: darkviolet; left: :10px; top:50px;}
100%{color:#ffca4b; left:10px; top:0px;}
}

@keyframes anim2
{
	0%{
		transform-origin: 400% 50%;
		transform: rotate(0);
		}
	50%{
		transform-origin: 400% 50%;
		transform: rotate(360deg);
	}

	50.1%{
		transform-origin: -300% 50%;
		transform: rotate(0deg);
	}

	100%{
		transform-origin: -300% 50%;
		transform: rotate(-360deg);
	}
}

h1:hover
{
	transform: rotate(30deg);

}

.cont
{

	position: absolute;
	left:90%;
	bottom: 10%;
	width: 100px;
	height: 100px;
}

.cercle 
{
 background:white;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 position: absolute;
 animation: anim2 5s linear infinite;

}

.cercle:nth-child(2)
{
	background: #ffca4b;
	animation-delay: -1s;
}

.cercle:nth-child(3)
{
	background: red;
	animation-delay: -2s;
}

.crh3:hover{
	font-size: 40px;
	color: blue;
}

.cont2
{

	position: absolute;
	right:85%;
	bottom: 10%;
	width: 100px;
	height: 100px;
}

a{
	display: flex;
	flex-direction:row;
	align-items: center;
	font-size: 40px;
	margin-left:-90%;
}